<div class="w-section my-4 mx-auto">
  <button
    (click)="isOpen.set(!isOpen())"
    class="px-4 flex items-center space-x-2 mb-3"
  >
    <span>Options</span>
    <fa-icon class="text-primary" [icon]="isOpen() ? faChevronUp : faChevronDown"></fa-icon>
  </button>

  <div
    *ngIf="isOpen()"
    [ngClass]="{ 'max-h-0': !isOpen(), 'max-h-screen': isOpen() }"
    class="overflow-hidden transition-all duration-300 ease-in-out"
  >
    <div class="space-y-4 mt-2 ml-10">
      <div class="filter-row">
        <p class="filter-title hidden-mobile">Translation mode:</p>
        <div class="filter-option">
          <button (click)="translationModeChanged.emit(TranslationMode.TRANSLATION_TO_FOREIGN_WORD)"
            [ngClass]="{
              'btn-primary-outline': translationModeInput() === TranslationMode.TRANSLATION_TO_FOREIGN_WORD
            }"
            class="btn text-center filter-btn"
          >
            English -> German
          </button>
        </div>
            <div class="filter-option">
              <button (click)="translationModeChanged.emit(TranslationMode.FOREIGN_WORD_TO_TRANSLATION)"
                      [ngClass]="{
              'btn-primary-outline': translationModeInput() === TranslationMode.FOREIGN_WORD_TO_TRANSLATION
            }"
                      class="btn text-center filter-btn"
              >
                German -> English
              </button>
        </div>
      </div>
      <div class="filter-row">
        <p class="col-span-2 sm:col-span-1 justify-self-start hidden sm:block mb-2">Words to fetch:</p>
        <div class="filter-option">
          <button (click)="fetchModeChanged.emit(FetchMode.ALL)"
                  [ngClass]="{
              'btn-primary-outline': fetchModeInput() === FetchMode.ALL
            }"
                  class="btn text-center filter-btn"
          >
            All
          </button>
        </div>
        <div class="col-span-1 flex space-x-2">
          <div class="col-span-1 flex space-x-2">
            <button (click)="fetchModeChanged.emit(FetchMode.LATEST_LESSONS)"
                    [ngClass]="{
              'btn-primary-outline': fetchModeInput() === FetchMode.LATEST_LESSONS
            }"
                    class="btn text-center filter-btn"
            >
              Latest lessons
            </button>
          </div>
        </div>
      </div>
      @if(fetchModeInput()==FetchMode.LATEST_LESSONS){
      <div class="filter-row">
        <p class="filter-title">Number of lessons:</p>
        <div class="filter-option">
         <input type="number" (input)="onInputNumberOfLessonsChanged($event)" value="1"/>
        </div>
      </div>
      }
    </div>
  </div>
</div>
