@if (selectedMode() == TranslationMode.TRANSLATION_TO_FOREIGN_WORD) {
  <table [ngClass]="isCurrentWord()? 'current-word': 'old-word'">
    <tr>
      <td>{{ wordTranslation()?.translation }}</td>
      <td>@if (showSecondPart()) {
        {{ wordTranslation()?.word }}
      }</td>
    </tr>
  </table>
} @else {
  <table [ngClass]="isCurrentWord()? 'current-word': 'old-word'">
    <tr>
      <td>{{ wordTranslation()?.word }}</td>
      @if (showSecondPart()) {
        <td>{{ wordTranslation()?.translation }}</td>
      }
    </tr>
  </table>
}

@if (isCurrentWord()) {
  <button (click)="handleNextClick()">Next</button>
}
