@if (selectedMode() == TranslationMode.TRANSLATION_TO_FOREIGN_WORD){
  <table>
    <tr>
      <td>{{wordTranslation()?.translation}}</td>
      @if (showSecondPart()){
        <td>{{wordTranslation()?.word}}</td>
      }
    </tr>
  </table>
}@else {
  <table>
    <tr>
      <td>{{wordTranslation()?.word}}</td>
      @if (showSecondPart()){
        <td>{{wordTranslation()?.translation}}</td>
      }
    </tr>
  </table>
}

@if(isLastWord()){
  <button (click)="handleNextClick()">Next</button>
}
